.perfomance {
  display: flex;
  font-family: "Formular";
  color: $black;
  width: 100%;
  justify-content: space-between;
  &__left-container {
    margin-left: 184px;
  }
  &__time {
    display: inline-block;
    margin: 0;
    padding-right: 16px;
    font-family: 'Neue Machina';
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -1%;
    border-right: 1px solid $black;
  }
  &__age {
    display: inline-block;
    margin: 0;
    padding: 16px;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -1%;
    font-family: 'Neue Machina';
  }
  &__jobs-list {
    padding: 0;
    margin: 0;
  }
  &__jobs-item {
    list-style-type: none;
  }
  &__job {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    margin: 0 0 4px;
  }
  &__name {
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: -1%;
    margin: 0 0 24px;
    padding: 0 0 0 28px;
    max-width: 420px;
  }
  &__right-container {
    flex-basis: 720px;
  }
  &__video {
    width: 691px;
    height: 389px;
    margin-bottom: 66px;
  }
  &__about {
    max-width: 602px;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: -1%;
    margin-bottom: 80px;
  }
  &__subtitle {
    margin: 0 0 20px;
  }
  &__text {
    margin: 0 0 20px;
  }
  &__text::before{
    content: '';
    padding-right: 63px;
  }
  &__title-card {
    display: none;
    font-family: 'Neue Machina';
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -1%;
    margin: 40px 0 32px;
  }
}

@media(max-width:1310px) {
  .perfomance {
    &__left-container {
      margin: 0 auto;
    }
    &__name {
      margin: 0 0 20px;
      padding: 0 0 0 26px;
      max-width: 300px;
    }
    &__right-container {
      flex-basis: 512px;
      margin-right: auto;
    }
    &__video {
      width: 500px;
      height: 300px;
      margin-bottom: 50px;
    }
    &__about {
      max-width: 480px;
      margin-bottom: 60px;
    }
    &__subtitle {
      margin: 0 0 18px;
    }
    &__text {
      margin: 0 0 18px;
    }
  }
}

@media (max-width: 940px) {
  .perfomance {
    flex-direction: column;
    &__left-container {
      padding: 56px 0 72px;
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: $white;
      width: 100%;
    }
    &__right-container {
      margin: 0 auto;
    }
    &__title-card {
      display: inline-block;
    }
  }
}

@media (max-width: 600px) {
  .perfomance {
    &__left-container {
      display: block;
      width: 100%;
    }
    &__time {
      padding-left: 29px;
    }
    &__age {
      padding-top: 58px;
    }
    &__jobs-list {
      padding: 0 29px 72px;
    }
    &__right-container {
      margin: 0 24px;
    }
    &__video {
      width: 100%;
      height: auto;
      min-height: 250px;
    }
    &__about {
      max-width: none;
    }
  }
}

@media (max-width: 414px) {
  .perfomance {
    &__video {
      min-height: 206px;
    }
  }
}